<h1>Editing friend</h1>

<%= render "form", friend: @friend %>

<br>

  <%= link_to "Show this friend", @friend, class:'btn btn-secondary' %>

  <%= button_to "Delete", @friend, form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete, class:'btn btn-outline-danger btn-sm' %>
  
  <%= link_to "Back to friends", friends_path, class:'btn btn-dark' %>
