<div class='edit'>
<h1 class='about'>Editing Sample</h1>

<%= render "form", dustloop: @dustloop %>

<br>
  <div class = 'text-center'>
  <%= link_to raw("<i class=\"bi bi-vinyl\" style='font-style:normal;'>  back to dustloop</i>"), @dustloop, class: 'editButton btn btn-secondary' %>

    <%= link_to raw("<i class=\"bi bi-disc\" style='font-style:normal;'>  back to sample collection</i>"), dustloops_path, class:  'btn btn-dark' %>
  </div>
</div>


