<h1 class='about'>Add Sample</h1>
<br>
<%= render "form", dustloop: @dustloop %>

<br>

<div class='text-center'>
  <%= link_to "back to sample collection", dustloops_path, class:'btn btn-dark' %>
</div>
